<ul
  class='nav nav-pills'
  style='display:flex; align-items:center; justify-content: space-evenly'
>
  <li class='nav-item'>
    <a class='nav-link' href='/'>
      <button class='btn'>
        Home
      </button>
    </a>
  </li>
  <li class='nav-item'>
    <a class='nav-link' href='#'>
      <button class='btn'>
        Booking
      </button>
    </a>
  </li>
  <li class='nav-item nav-brand'>
    <a class='nav-link' href='/'>
      <img height='100' src='/images/birdie.png' alt='' />
    </a>
  </li>
  <li class='nav-item'>
    <a class='nav-link' href='#'>
      <button class='btn'>
        Promotions
      </button>
    </a>
  </li>
  <li class='nav-item'>
    <a class='nav-link' href='/login'>
      <button class='btn'>
        Login
      </button>
    </a>
  </li>
</ul>