<div class="container">

  {{> header }}

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>VoyageAdvisor!</h1>
    <p class="lead">At VoyageAdvisor, we take pride on bringing you the best prices for your trips. Our curated guides provide you with a unique experience to make of your next
      trip one you will never forget</p>
    </p>
    <p>
      <a class="btn btn-lg btn-success" href="#" role="button">Get started today</a>
    </p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Most searched Cites</h2>
      <p class="text-danger">Take a look on the most searched cities. Find trips with just a click</p>
      <p>Make the most of your next adveture. Find the best deals for your next trip.
      </p>
      <p>
        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Travel guides</h2>
      <p>Have you wonder what to do in a new city? Our guides are here to help you.
      </p>
      <p>
        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Adventure Packages</h2>
      <p>Do not want to waste time? Check our Voyage Packages.</p>
      <p>
        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
  </div>

  {{> footer }}

</div>
<!-- /container -->